<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pessoa-heading">Create or edit a Pessoa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4" [hidden]="!editForm.get('id').value">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                    </div>
                    <div class="form-group col-sm-6 col-md-4" [hidden]="!editForm.get('id').value">
                        <label class="form-control-label" for="field_dataCadastro">Data Cadastro</label>
                        <div class="d-flex">
                            <input id="field_dataCadastro" type="date" class="form-control" name="dataCadastro"
                                formControlName="dataCadastro" placeholder="DD-MM-YYYY" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="form-control-label" for="field_situacao">Situacao</label>
                        <!--
                        <input type="checkbox" class="form-control" name="situacao" id="field_situacao"
                        formControlName="situacao" />
                        -->
                        <select class="form-control" id="field_situacao" name="situacao" formControlName="situacao">
                            <option value="true">ATIVO</option>
                            <option value="false">INATIVO</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="form-control-label" for="field_tipo">Tipo</label>
                        <!--
                        <input type="number" class="form-control" name="tipo" id="field_tipo" formControlName="tipo" />
                        -->
                        <select class="form-control" id="field_tipo" name="tipo" formControlName="tipo">
                            <option value="0">FISICA</option>
                            <option value="1">JURIDICA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome" formControlName="nome" />
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-4">
                        <label class="form-control-label" for="field_cpfCnpj">Cpf Cnpj</label>
                        <input type="text" class="form-control" name="cpfCnpj" id="field_cpfCnpj"
                            formControlName="cpfCnpj" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="form-control-label" for="field_rgInscEst">Rg Insc Est</label>
                        <input type="text" class="form-control" name="rgInscEst" id="field_rgInscEst"
                            formControlName="rgInscEst" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="form-control-label" for="field_dataNascimento">Data Nascimento</label>
                        <div class="d-flex">
                            <input id="field_dataNascimento" type="date" class="form-control" name="dataNascimento"
                                formControlName="dataNascimento" placeholder="DD-MM-YYYY" />
                        </div>
                    </div>

                </div>



                <div class="form-group">
                    <label class="form-control-label" for="field_foto">Foto</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fotoContentType').value + ';base64,' + editForm.get('foto').value"
                            style="max-height: 100px;" *ngIf="editForm.get('foto').value" alt="pessoa image" />
                        <div *ngIf="editForm.get('foto').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fotoContentType').value}},
                                {{byteSize(editForm.get('foto').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')"
                                class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto" (change)="setFileData($event, 'foto', true)"
                            accept="image/*" />
                    </div>
                    <input type="hidden" class="form-control" name="foto" id="field_foto" formControlName="foto" />
                    <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                        formControlName="fotoContentType" />
                </div>
                <!--Enderecos-->
                <div formArrayName="enderecos">
                    <div *ngFor="let group of enderecosArray.controls; let i = index;" [formGroupName]="i">
                        <div class="form-group">
                            <fa-icon [icon]="'plus'" (click)="addEnderecos()"></fa-icon>
                            <fa-icon [icon]="'plus'" (click)="removeEnderecos()"></fa-icon>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label class="form-control-label" for="field_logradouro">Logradouro</label>
                                <input class="form-control" type="text" name="logradouro" id="field_logradouro"
                                    formControlName="logradouro" />
                            </div>
                            <div class="form-group col-sm-6 col-md-4">
                                <label class="form-control-label" for="field_bairro">Bairro</label>
                                <input class="form-control" type="text" name="bairro" id="field_bairro"
                                    formControlName="bairro" />
                            </div>
                            <div class="form-group col-sm-6 col-md-2">
                                <label class="form-control-label" for="field_numero">Número</label>
                                <input class="form-control" type="text" name="numero" id="field_numero"
                                    formControlName="numero" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_complemento">Complemento</label>
                            <input class="form-control" type="text" name="complemento" id="field_complemento"
                                formControlName="complemento" />
                        </div>
                    </div>
                </div>
                <!--Enderecos-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>