<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lancamentos-heading">
                <span *ngIf="!lancamentos.id">Cadastrar Lancamento</span>
                <span *ngIf="lancamentos.id">Editar Lancamento</span>
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group card">
                    <div class="card-header">
                        <strong>
                            <fa-icon [icon]="'address-card'"></fa-icon> Dados do Lançamento
                        </strong>
                    </div>
                    <div class="form-group card-body ">
                        <div class="form-group" *ngIf="lancamentos.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="lancamentos.id"
                                readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_dataCompetencia">Data Competência</label>
                            <div class="d-flex">
                                <input id="field_dataCompetencia" type="date" class="form-control"
                                    name="dataCompetencia" [(ngModel)]="lancamentos.dataCompetencia"
                                    placeholder="DD-MM-YYYY" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_dataConciliacao">Data Conciliação</label>
                            <div class="d-flex">
                                <input id="field_dataConciliacao" type="date" class="form-control"
                                    name="dataConciliacao" [(ngModel)]="lancamentos.dataConciliacao"
                                    placeholder="DD-MM-YYYY" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_valor">Valor</label>
                            <input type="number" class="form-control" name="valor" id="field_valor"
                                [(ngModel)]="lancamentos.valor" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_tipo">Tipo</label>
                            <input type="number" class="form-control" name="tipo" id="field_tipo"
                                [(ngModel)]="lancamentos.tipo" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_historico">Histórico</label>
                            <input type="text" class="form-control" name="historico" id="field_historico"
                                [(ngModel)]="lancamentos.historico" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_numeroDocumento">Nº Documento</label>
                            <input type="text" class="form-control" name="numeroDocumento" id="field_numeroDocumento"
                                [(ngModel)]="lancamentos.numeroDocumento" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_pessoa">Pessoa</label>
                            <select class="form-control" id="field_pessoa" name="pessoa"
                                [(ngModel)]="lancamentos.pessoaId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="pessoaOption.id"
                                    *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.nome}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_conta">Conta</label>
                            <select class="form-control" id="field_conta" name="conta"
                                [(ngModel)]="lancamentos.contaId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="option.id"
                                    *ngFor="let contaOption of contas; trackBy: trackContaById">
                                    {{contaOption.descricao}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_documento">Documento</label>
                            <select class="form-control" id="field_documento" name="documento"
                                [(ngModel)]="lancamentos.documentoId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="documentoOption.id"
                                    *ngFor="let documentoOption of documentos; trackBy: trackDocumentoById">
                                    {{documentoOption.descricao}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Savar</span>
                    </button>
                </div>
        </form>
    </div>
</div>