<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lancamento">
            <h2><span>Lancamento</span> {{lancamento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{lancamento.descricao}}</span>
                </dd>
                <dt><span>Data Competencia</span></dt>
                <dd>
                    <span>{{lancamento.dataCompetencia}}</span>
                </dd>
                <dt><span>Data Vencimento</span></dt>
                <dd>
                    <span>{{lancamento.dataVencimento}}</span>
                </dd>
                <dt><span>Valor</span></dt>
                <dd>
                    <span>{{lancamento.valor}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{lancamento.status}}</span>
                </dd>
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{lancamento.tipo}}</span>
                </dd>
                <dt><span>Observacao</span></dt>
                <dd>
                    <span>{{lancamento.observacao}}</span>
                </dd>
                <dt><span>Pessoa</span></dt>
                <dd>
                    <div *ngIf="lancamento.pessoaId">
                        <a [routerLink]="['/pessoa', lancamento.pessoaId, 'view']">{{lancamento.pessoaNome}}</a>
                    </div>
                </dd>
                <dt><span>Conta</span></dt>
                <dd>
                    <div *ngIf="lancamento.contaId">
                        <a [routerLink]="['/conta', lancamento.contaId, 'view']">{{lancamento.contaDescricao}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lancamento', lancamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
