<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lancamento-heading">
                <span *ngIf="!lancamento.id">Cadastrar Lancamento</span>
                <span *ngIf="lancamento.id">Editar Lancamento</span>
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group card">
                    <div class="card-header">
                        <strong>
                            <fa-icon [icon]="'address-card'"></fa-icon> Dados do Lançamento
                        </strong>
                    </div>
                    <div class="form-group card-body ">
                        <div class="form-group" *ngIf="lancamento.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control col-md-6 col-lg-4" id="id" name="id"
                                [(ngModel)]="lancamento.id" readonly />
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-control-label" for="field_dataCompetencia">Data Competência</label>
                                <div class="d-flex">
                                    <input id="field_dataCompetencia" type="date" class="form-control"
                                        name="dataCompetencia" [(ngModel)]="dataCompetencia" />
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-control-label" for="field_dataConciliacao">Data Conciliação</label>
                                <input id="field_dataConciliacao" type="date" class="form-control"
                                    name="dataConciliacao" [(ngModel)]="dataConciliacao" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_conta">Conta de Movimento</label>
                                <select class="form-control" id="field_conta" name="conta"
                                    [(ngModel)]="lancamento.contaId">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="contaOption.id"
                                        *ngFor="let contaOption of contas; trackBy: trackById">
                                        {{contaOption.descricao}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_tipo">Tipo de Lançamento</label>
                                <select class="form-control" id="field_tipo" name="tipo" [(ngModel)]="lancamento.tipo">
                                    <option value="0">ENTRADA</option>
                                    <option value="1">SAIDA</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_valor">Valor</label>
                                <input type="number" class="form-control" name="valor" id="field_valor"
                                    [(ngModel)]="lancamento.valor" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_documento">Documento</label>
                                <select class="form-control" id="field_documento" name="documento"
                                    [(ngModel)]="lancamento.documentoId">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="documentoOption.id"
                                        *ngFor="let documentoOption of documentos; trackBy: trackById">
                                        {{documentoOption.descricao}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_numeroDocumento">Nº do Documento</label>
                                <input type="text" class="form-control" name="numeroDocumento"
                                    id="field_numeroDocumento" [(ngModel)]="lancamento.numeroDocumento" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="field_centroCustos">Centro de Custo</label>
                                <select class="form-control" id="field_centroCustos" name="centroCustos"
                                    [(ngModel)]="lancamento.centroCustosId">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="centroCustoOption.id"
                                        *ngFor="let centroCustoOption of centroCustos; trackBy: trackById">
                                        {{centroCustoOption.descricao}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_pessoa">Pessoa</label>
                            <p-autoComplete class="w-100" [(ngModel)]="lancamento.pessoaNome" name="nome"
                                [delay]="autocompleteDelay" [suggestions]="pessoas"
                                (completeMethod)="pessoaCompleteMethod($event)" (onSelect)="pessoaSelect($event)">
                                <ng-template let-value pTemplate="item">
                                    <span>{{value.nome}}</span>
                                </ng-template>
                            </p-autoComplete>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_historico">Histórico</label>
                            <textarea class="form-control col-md-12" id="field_historico" rows="3" name="historico"
                                [(ngModel)]="lancamento.historico"> </textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
                    </button>
                </div>
        </form>
    </div>
</div>